.places h1 {
    font-size: 30px;
    padding-top: 5x;
    padding-left: 30px;
    flex: 100%;
}

.places h2 {
    font-size: 30px;
    align-text: center;
}

.places article {
    display: flex;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    justify-content: center;
    margin-top: 0px;
}

.places {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
